# Ignores node dependencies (e.g. webpack).
node_modules

# Ignores your built application.
build/js/main.app.js
build/js/main.app.js.map
build/js/[0-9]*
.DS_Store

# Ignores .gitignore
.gitignore

.happypack

# Ignores npm-debug.log
npm-debug.log*
